*.pyc
*.pyo
*.DS_Store
*.log
*log
#*#
Thumbs.db
.cache
.eggs
.tox/
flows.json
.flows.json.backup
__pycache__/
*.egg-info/
build/
dist/
pip-wheel-metadata/
.*env/
*env/

bspl_parser.py
spl_parser.py
langshaw_parser.py

**/.claude/settings.local.json
